.animated-modal {
    top: 20px;
    right: 20px;
    left: auto;
    bottom: auto;
    margin-right: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    /* width: 400px; */
    max-width: 400px;
    overflow: hidden;
    animation: slideInRight 0.2s ease-out;
    position: fixed;
    outline: none;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .modal-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }