.Admin___Cards {
    border: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }


  .checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .checkbox-item label {
    font-size: 16px;
  }
  