.Admin___Cards {
    border: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }


  .checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .checkbox-item label {
    font-size: 16px;
  }
  
  .Service__image__Container {
    position: relative;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    overflow: hidden;
    width: 27rem;
    height: 15rem;
  }