.Paragraphe_Text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    color: rgba(110, 111, 114, 1);
  }

.Title_Text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);

}

.Pompiste_Avatar {
  width: 94px;
  height: 94px;
  border-radius: 50%;
}




.modal-QR {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container-QR {
  border-radius: 8px;
  padding: 20px;
}

.modal-content-QR {
  width: 300px; /* Example width, adjust as needed */
  height: 200px; /* Example height, adjust as needed */
}

